
@{
    ViewData["Title"] = "Username Search";
}
<style>
    * {
        position: center
    }
</style>
<h1>Username Search Result</h1>
<p>@ViewBag.userCheck</p>
<br />
<a asp-action="Login">Return to Login</a>
