
@{
    ViewData["Title"] = "Empty Cart";
}
<style>
    * {
        position: center
    }
</style>
<h2>Oh no! Your cart is empty!</h2>
<br />
<p>You can add items to your cart after choosing a location!</p>
<br />
<a asp-action="SelectLocation" asp-controller="Selection">Click here to see a list of stores!</a>

